body{
font-family: sans-serif;
width:100%;
background: #00FFFF;
text: #0000FF;
background-size:cover;
padding-top:100px;

}

.login-form {
width: 28%;
margin: 0 auto;
background :#FFABE0;
background-size:cover;
background-position:center;
padding: 30px 33px 67px;
border-top: 6px solid #FF00A2;
box-shadow: 0px 35px 44px -22px rgba(0,0,0,0.72);
}

h1 {
text-align: center;
font-size 26px;
font-weight: bold;
margin-top: 24px;
margin-botomm: 26px;
color : #FF00A2
}

form {
margin: 0 auto;
}

form p {
font-size; 20px;
margin-top: 105px;
font-weight: bold;
padding: 0.3px;
color : #FF00A2
}


.login-form form input[type="text"], input[type="password"]{
outline: none;
font-size:1em;
color:#202020;
padding: 15px 10px;
margin: 0 auto;
width: 95%;
border: none;
border-bottom: 1px solid #FF00A2;
display: block;
background: transparent;

}

input[type="submit"]{
width: 100%;
outline: none;
display: block;
margin: 0 auto;
margin-top: 45px;
pading: 13px 20px
font-size: 20px;
font. weight: bold;
background: #ff0088;
border: none;
color: #fff;
cursor: pointer;
transition: 0.3s all;

}

input[type="submit"]: hover{
background: #b8006b;
transition: 0.3s all;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}



